.about {
  @extend %section-padding;
  background-color: $bg-color;
}

.about__wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  //   place-items: center;
  align-items: center;
  justify-items: end;
  // justify-items: center;
  gap: 30px;

  @media screen and (max-width: 580px) {
    grid-template-columns: 1fr;
  }
}

.about__title {
  @extend %title;
}

.about__logo {
  display: inline-block;
  border-radius: 50px;
  margin-right: 10px;
  border: 5px solid $accent-text;
}

.about__pre-title {
  display: inline-block;
  color: $accent-text;
  font-size: 50px;
  font-weight: 600;
  text-shadow: 1px 1px 2px pink;
  // margin-bottom: 25px;
}

.about__text {
  color: $accent-text;
  // text-shadow: 1px 1px 2px pink;
  font-size: 20px;
  margin-bottom: 0;
  @media screen and (max-width: 580px) {
    font-size: 14px;
  }
}

.about__image {
  overflow: hidden;
  border-radius: 6px;
  border: 3px solid $accent-text;
}

.about__image img {
  // border: 3px solid $accent-text;

  width: 100%;
  height: 100%;
  transform: scale(1);
  transition: transform 250ms linear;
}

.about__image img:hover {
  transform: scale(1.05);
}
