.advantages {
  position: relative;
  @extend %section-padding;
  // background-color: $bg-color;
  // padding-bottom: 120px;
}

.advantages__title {
  @extend %title;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 70px;

  @media screen and (max-width: 580px) {
    row-gap: 30px;
  }
}

.advantages__item {
  // width: 31%;
  width: 31.2%;
  // @media screen and (max-width: 1439) {
  //   width: 31.2%;
  // }

  @media screen and (max-width: 1024) {
    width: 48%;
  }

  @media screen and (max-width: 788) {
    width: 47%;
  }
  @media screen and (max-width: 580) {
    // width: 50%;
    padding: 10px;
    border: 1px solid $accent-text;
    border-radius: 6px;
    width: 100%;
  }
}

// .advantages__item:nth-child(4) {
//   width: 50%;
//   grid-column: 1 / 4;
//   // align-self: start;
// }

// .advantages__item:nth-child(4) {
//   width: 50%;
//   grid-column: 1 / 3;
//   // margin-left: auto;
//   // margin-right: auto;
// }

// .advantages__item:nth-child(5) {
//   width: 75%;
// }

.advantages__item {
  text-align: center;
}

.advantages__image {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

// .advantages__item {
//   display: flex;
//   align-items: center;
//   gap: 10px;
// }

.advantages__text {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 0;
  color: $accent-text;
  //   text-transform: uppercase;
}

.advantages__ovelray {
  position: absolute;
  top: 0;
  left: 0;
  // margin-left: auto;
  // margin-right: auto;
  // max-width: 1600px;
  height: 800px;
  // background-image: linear-gradient(to right, #3e446457, #e4c9a23b),
  //   url('./image/hero-1-2.jpg');

  // background-image: linear-gradient(to right, #3e446457, #e4c9a23b), image-set(url('./image/hero-1-2.jpg');
  // background-image:
  //   linear-gradient(to right, #3e446457, #e4c9a23b),
  //   - webkit-image-set(url('./image/hero-1-2.jpg'));
  // background-image: image-set('./image/hero-1-2.jpg' type('image/jpg'));
  background: linear-gradient(to right, #3e446457, #e4c9a23b),
    url(/src/image/advantages-bg.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  z-index: -1;
  @media screen and (max-width: 580px) {
    height: 1015px;
  }
}
