.contacts {
  background-color: $bg-color;
}

.contacts__wrap {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  align-items: center;
  gap: 30px;

  @media screen and (max-width: 580px) {
    grid-template-columns: auto;
    gap: 0;
  }
}

.contacts__form {
  justify-items: center;
}

.contacts__title {
  @extend %title;
}

.form-1 {
  background-color: $accent-text;
  border: 1px solid $accent-text;
  padding: 20px;
  border-radius: 6px;
  // max-width: 370px;
  width: 100%;
  min-width: 280px;
}

.form__logo-1 {
  @extend %logo;
  font-size: 23px;
  color: #3e4464;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form__logo-2 {
  @extend %logo;
  color: $bg-color;
}

.form__input-name {
  color: $bg-color;
  font-size: 20px;
  margin-bottom: 5px;
}

.form__title {
  text-align: center;
  font-size: 34px;
  color: $bg-color;
  margin-bottom: 20px;
  @media screen and (max-width: 613px) {
    font-size: 30px;
  }
}

.form__1-input {
  display: block;
  padding: 15px;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 6px;
  // background-color: $accent-text;
  color: $bg-color;
  border: 1px solid $accent-text;
  background-color: #3e446424;
}

.form__1-input::placeholder {
  color: $accent-text;
}

.form__1-textarea::placeholder {
  color: $accent-text;
}

.form__1-textarea {
  border: 1px solid $accent-text;
  margin-bottom: 20px;
  padding: 12px 15px;
  resize: none;
  border-radius: 6px;
  width: 100%;
  // background-color: $accent-text;
  color: $bg-color;
  background-color: #3e446424;
}

.form__button {
  width: 100%;
  max-width: 506px;
  background-color: $bg-color;
  color: $accent-text;
}

.contacts__image img {
  border: 3px solid #e4c9a2;
  border-radius: 6px;

  @media screen and (max-width: 580px) {
    display: none;
  }
}
