.contacts {
  position: relative;
  @extend %section-padding;
}

.contacts__form {
  justify-items: center;
}

.contacts__title {
  @extend %title;
}

.form-1 {
  background-color: $accent-text;
  border: 2px solid $bg-color;
  padding: 20px;
  border-radius: 6px;
  width: 100%;
  max-width: 520px;
  margin-left: auto;
}

.form__logo-1 {
  @extend %logo;
  font-size: 23px;
  color: #3e4464;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form2__wrap-logo {
  display: flex;
}

.form__logo-2 {
  @extend %logo;
  color: $bg-color;
}

.form__input-name {
  color: $bg-color;
  font-size: 20px;
  margin-bottom: 5px;
}

.form__title {
  text-align: center;
  font-size: 34px;
  color: $bg-color;
  margin-bottom: 5px;
  @media screen and (max-width: 613px) {
    font-size: 30px;
  }
}

.form__1-input {
  display: block;
  padding: 15px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 6px;
  color: $bg-color;
  border: 1px solid $accent-text;
  background-color: #3e446424;
}

.form__1-input::placeholder {
  color: $accent-text;
}

.form__1-textarea::placeholder {
  color: $accent-text;
}

.form__1-textarea {
  border: 1px solid $accent-text;
  margin-bottom: 20px;
  padding: 12px 15px;
  resize: none;
  border-radius: 6px;
  width: 100%;
  color: $bg-color;
  background-color: #3e446424;
}

.form__button {
  width: 100%;
  max-width: 506px;
  background-color: $bg-color;
  color: $accent-text;
}

.contacts__image img {
  border: 3px solid #e4c9a2;
  border-radius: 6px;

  @media screen and (max-width: 580px) {
    display: none;
  }
}

input:focus {
  outline: none;
  border: 2px solid $text-color;
}

input:focus:invalid,
textarea:focus:invalid {
  border: solid 2px #f5192f;
}

input:focus:valid,
textarea:focus:valid {
  border: solid 2px #18e109;
  background-color: $text-color;
}

.contacts__overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 800px;
  background: linear-gradient(to right, #3e446457, #6c5f4d3b),
    url(/src/image/contacts-bg.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  z-index: -1;

  @media screen and (max-width: 837px) {
    height: 840px;
  }

  @media screen and (max-width: 580px) {
    height: 768px;
  }
}
