.footer {
  @extend %section-padding;
  background-color: $bg-2;
}

.footer__wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 20px;

  @media screen and (max-width: 580px) {
    gap: 0;
  }
}

.logo__wrap {
  display: flex;
}

.logo {
  display: inline-flex;
  align-items: center;
  color: $text-color;
  font-size: 20px;

  @media screen and (max-width: 580px) {
    font-size: 14px;
  }
}

.logo__image {
  margin-right: 10px;
  display: inline-block;
  border-radius: 50%;
}

.footer__icons {
  display: flex;
  margin-left: auto;
  gap: 20px;
  transform: translateY(0);
  transition: transform 250ms linear;

  @media screen and (max-width: 580px) {
    gap: 10px;
  }
}

.icon {
  border: 1px solid $accent-text;
  border-radius: 50%;
  // transition: fill 250ms linear;
  transform: translateY(0);
  transition:
    transform 250ms linear,
    color 250ms linear,
    background-color 250ms linear;
}

.icon:hover,
.icon:focus {
  @extend %button__hover;
  // color: $bg-2;
  // background-color: $text-color;
  // transform: translateY(-3px);
  // box-shadow: 1px 0 10px #fc0;
}
