.footer {
  @extend %section-padding;
  background-color: $bg-color;
}

.footer__wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 20px;

  @media screen and (max-width: 580px) {
    grid-template-columns: auto;
  }
}

.logo__wrap {
  display: flex;
}

.logo {
  display: inline-flex;
  align-items: center;
  color: $accent-text;
  font-size: 25px;
  font-weight: 600;
}

.logo__image {
  margin-right: 10px;
  display: inline-block;
  border: 5px solid $accent-text;
  border-radius: 50%;
}

.footer__icons {
  display: flex;
  place-self: end;
  gap: 20px;
}

.icon {
  // fill: #e4c9a2;
  // fill: orangered;
  // fill: $bg-color;
  transition: fill 250ms linear;
  // width: 30px;
  // height: 30px;
  border: 1px solid $accent-text;
  // padding: 2px;
  border-radius: 50%;
  // background-color: $bg-color;
}

.icon:hover,
.icon:focus {
  transform: translateY(-2px);
  // fill: white;
  // filter: drop-shadow(#fc0 1px 0 10px);
  cursor: url('image/cursor/cursor-2.png'), auto;
  // border: 3px solid white;
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
