.header {
  position: relative;
  padding-top: 20px;
  z-index: 1;
  padding-bottom: 10px;

  @media screen and (max-width: 580px) {
    background-color: $bg-color;
  }
}

.header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 580px) {
    display: none;
  }
}

.header__logo {
  text-align: center;
  text-shadow: 1px 0 10px #49453866;
  font-size: 42px;
  color: $accent-text;
  font-weight: 700;
}

.header__logo--description {
  font-size: 14.6px;
  color: $accent-text;
  margin-bottom: 0;
}

.header__menu {
  z-index: 10;
  right: 4.3%;
  top: 4%;
  position: fixed;
  display: flex;
  list-style: none;
  padding: 0;
  gap: 20px;
  backdrop-filter: blur(30px);
  box-shadow:
    rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;

  @media screen and (max-width: 837px) {
    gap: 5px;
  }

  @media screen and (max-width: 580px) {
    display: none;
  }
}

.header__menu li a {
  font-size: 19px;
  color: $bg-color;
  padding: 10px;
  border: 1px solid transparent;
  transition:
    color 250ms linear,
    text-shadow 250ms linear;

  @media screen and (max-width: 837px) {
    padding: 5px;
    font-size: 13px;
  }
}

.header__menu li a:hover,
.header__menu li a:focus {
  color: $accent-text;
  text-shadow: #fc0 1px 0 10px;
}

.header__menu li a.active {
  padding: 10px;
  color: $accent-text;
  text-shadow: #fc0 1px 0 10px;

  @media screen and (max-width: 837px) {
    padding: 5px;
  }
}
