.hero {
  @media screen and (max-width: 580px) {
    // background-color: $bg-color;
    padding-bottom: 10px;
  }
}

.hero__wrap {
  display: grid;
  grid-template-columns: 1fr 41.2%;
  align-items: start;
  gap: 25px;
  text-align: center;

  @media screen and (max-width: 580px) {
    grid-template-columns: 1fr;
    gap: 0;
  }
}

.hero__img {
  @media screen and (max-width: 580px) {
    display: grid;
    justify-items: center;
  }
}

.hero__title {
  font-size: 30px;
  color: $accent-text;
  margin-bottom: 0;
}

.hero__description {
  color: $text-color;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 15px;

  @media screen and (max-width: 580px) {
    font-size: 10px;
    margin-bottom: 2px;
  }
}

.hero__pre-title {
  text-align: center;
  color: $accent-text;
  margin-bottom: 20px;
  font-size: 34px;

  @media screen and (max-width: 1242px) {
    font-size: 25px;
  }

  @media screen and (max-width: 876px) {
    font-size: 20px;
  }

  @media screen and (max-width: 723px) {
    font-size: 17px;
  }

  @media screen and (max-width: 631px) {
    font-size: 15px;
  }

  @media screen and (max-width: 580px) {
    font-size: 19px;
    margin-bottom: 0;
  }
}

.hero__advantages {
  margin-bottom: 20px;
  font-size: 26px;
  font-weight: 700;
  color: $text-color;
  margin-top: 0;

  @media screen and (max-width: 1243px) {
    font-size: 20px;
  }

  @media screen and (max-width: 876px) {
    font-size: 18px;
  }

  @media screen and (max-width: 723px) {
    font-size: 15px;
  }

  @media screen and (max-width: 631px) {
    font-size: 13px;
  }

  @media screen and (max-width: 580px) {
    font-size: 15px;
    margin-bottom: 5px;
  }
}

.hero-btn {
  padding: 10px;
  background-color: $accent-text;
  text-transform: uppercase;
}

.button {
  @extend %button;
}

.button:hover,
.button:focus {
  @extend %button__hover;
}

.expand__button {
  @extend %button;
  text-align: center;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  background-color: $bg-color;
  color: $accent-text;
  transition: background-color 250ms linear;
  border: 1px solid $accent-text;
}

.expand__button:hover,
.expand__button:focus {
  @extend %button__hover;
}

.hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  // margin-left: auto;
  // margin-right: auto;
  // max-width: 1600px;
  height: 753px;
  // background-image: linear-gradient(to right, #3e446457, #e4c9a23b),
  //   url('./image/hero-1-2.jpg');

  // background-image: linear-gradient(to right, #3e446457, #e4c9a23b), image-set(url('./image/hero-1-2.jpg');
  // background-image:
  //   linear-gradient(to right, #3e446457, #e4c9a23b),
  //   - webkit-image-set(url('./image/hero-1-2.jpg'));
  // background-image: image-set('./image/hero-1-2.jpg' type('image/jpg'));
  background: linear-gradient(to right, #3e446457, #e4c9a23b),
    url(/src/image/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  z-index: -1;
  @media screen and (max-width: 580px) {
    height: 795;
  }
}

.hero__content {
  max-width: 520px;
  backdrop-filter: blur(3px);
  background-color: #74819630;
  box-shadow:
    rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  padding: 15px;
  border: 1px solid $accent-text;

  @media screen and (max-width: 580px) {
    background-color: $bg-color;
    border-radius: 6px;
  }
}

.hero__maps {
  margin-left: auto;
  margin-right: auto;
}
