.hero {
  padding-bottom: 154px;
  @media screen and (max-width: 580px) {
    background-color: $bg-color;
    padding-bottom: 10px;
  }
}

.hero__wrap {
  display: grid;
  grid-template-columns: 1fr 41.2%;
  align-items: center;
  gap: 25px;
  text-align: center;

  @media screen and (max-width: 500px) {
    .hero__wrap {
      grid-template-columns: 1fr;
    }
  }

  @media screen and (max-width: 580px) {
    grid-template-columns: auto;
    gap: 0;
  }
}

.hero__img {
  display: none;
  @media screen and (max-width: 580px) {
    display: grid;
    justify-items: center;
  }
}

.hero__title {
  font-size: 32px;
  color: $accent-text;
  // text-transform: uppercase;
  margin-bottom: 0;
}

.hero__description {
  color: $accent-text;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 15px;

  @media screen and (max-width: 580px) {
    font-size: 12px;
  }
}

.hero__pre-title {
  text-align: center;
  color: $accent-text;
  // font-size: 37px;
  margin-bottom: 20px;

  @media screen and (min-width: 1243px) {
    font-size: 37px;
  }

  @media screen and (max-width: 1242px) {
    font-size: 25px;
  }

  @media screen and (max-width: 876px) {
    font-size: 20px;
  }

  @media screen and (max-width: 723px) {
    font-size: 17px;
  }

  @media screen and (max-width: 631px) {
    font-size: 15px;
  }

  @media screen and (max-width: 580px) {
    font-size: 19px;
  }
}

.hero__advantages {
  margin-bottom: 20px;
  font-size: 26px;
  font-weight: 700;
  color: white;
  margin-top: 0;

  @media screen and (max-width: 1243px) {
    font-size: 20px;
  }

  @media screen and (max-width: 876px) {
    font-size: 18px;
  }

  @media screen and (max-width: 723px) {
    font-size: 15px;
  }

  @media screen and (max-width: 631px) {
    font-size: 13px;
  }

  @media screen and (max-width: 580px) {
    font-size: 17px;
  }
}

.hero-btn {
  padding: 10px;
  background-color: $accent-text;
  text-transform: uppercase;
}

.button {
  @extend %button;
}

.button:hover,
.button:focus {
  transform: translateY(-2px);
  box-shadow: #fc0 1px 0 10px;
  // background-color: white;
}

.expand__button {
  @extend %button;

  text-align: center;

  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  background-color: $bg-color;
  color: $accent-text;

  // @media screen and (max-width: 580px) {
  //   max-width: 244px;
  // }
}

.hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  // max-width: 1600px;
  height: 735px;
  min-width: auto;
  margin-right: auto;
  // background: url('image/hero-1.jpg');
  // background: url('image/1q.jpg');
  // background: url('image/new33.jpg');
  // linear-gradient(to right, red, blue)
  // background: linear-gradient(to right, red, blue), url('image/22.jpg');
  // background-image: linear-gradient(to right, #3e446457, #e4c9a23b),
  //   url('image/hero-1-10.jpeg');
  // background-image: linear-gradient(to right, #3e446457, #e4c9a23b),
  //   url('image/header-1.jpeg');
  background-image: image-set(url('image/header-1.jpeg'));

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  z-index: -1;

  @media screen and (max-width: 580px) {
    display: none;
  }
}

.hero__content {
  max-width: 520px;
  backdrop-filter: blur(3px);
  background-color: #74819630;
  box-shadow:
    rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  padding: 15px;

  @media screen and (max-width: 580px) {
    border: 1px solid $accent-text;
    border-radius: 6px;
  }
}

.hero__maps {
  margin-left: auto;
  margin-right: auto;
}
