.hero__wrap {
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  // flex-wrap: wrap;
  display: grid;
  grid-template-columns: 1fr 577px;
  align-items: center;
  gap: 25px;
  text-align: center;

  @media screen and (max-width: 500px) {
    .hero__wrap {
      grid-template-columns: 1fr;
    }
  }
}

.hero__title {
  font-size: 68px;
  color: $accent-text;
  text-transform: uppercase;
  margin-bottom: 0;
}

.hero__description {
  color: $accent-text;
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 23.2px;
}

.hero__pre-title {
  text-align: center;
  color: white;
  font-size: 24px;
  text-transform: uppercase;
}

.hero__advantages {
  font-size: 19px;
  font-weight: 700;
  color: white;
  margin-top: 0;
  text-transform: uppercase;
}

.hero-btn {
  padding: 10px;
  background-color: $accent-text;
  text-transform: uppercase;
}

.hero__wrap-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.button {
  @extend %button;
}

.button:hover,
.button:focus {
  transform: translateY(-2px);
  box-shadow: #fc0 1px 0 10px;
}

.expand__button {
  @extend %button;
  padding-right: 44px;
  padding-left: 44px;
  background-color: $bg-color;
  color: $accent-text;
}

.hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 1600px;
  height: 735px;
  min-width: auto;
  margin-right: auto;
  // background: url('image/hero-1.jpg');
  // background: url('image/1q.jpg');
  // background: url('image/new33.jpg');
  // linear-gradient(to right, red, blue)
  // background: linear-gradient(to right, red, blue), url('image/22.jpg');
  background-image: linear-gradient(to right, #3e446457, #e4c9a23b),
    url('image/hero-1.jpg');

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  z-index: -1;
}

.hero__content {
  // max-width: 600px;
  backdrop-filter: blur(3px);
  padding: 10px;
  background-color: #22324ba3;
  // border: 1px solid $accent-text;
  box-shadow:
    rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  padding: 30px;
}

.hero__maps {
  margin-left: auto;
  margin-right: auto;
}

// .hero__overlay-2 {
//   position: absolute;
//   top: 6%;
//   left: 7%;
//   max-width: 100px;
//   height: 100px;
//   width: 100%;
//   z-index: -1;
// }

// .hero__overlay-3 {
//   position: absolute;
//   top: 13%;
//   left: 54%;
//   max-width: 100px;
//   height: 100px;
//   width: 100%;
//   z-index: -1;
// }

// .hero__overlay-4 {
//   position: absolute;
//   top: 1%;
//   left: 30%;
//   max-width: 100px;
//   height: 100px;
//   width: 100%;
//   z-index: -1;
// }

// .hero__overlay-5 {
//   position: absolute;
//   top: 17%;
//   left: 71%;
//   max-width: 100px;
//   height: 100px;
//   width: 100%;
//   z-index: -1;
// }

// .hero__overlay-6 {
//   position: absolute;
//   top: 30%;
//   left: 87%;
//   max-width: 100px;
//   height: 100px;
//   width: 100%;
//   z-index: -1;
// }
