.service {
  background-color: $bg-color;
  padding-top: 100px;
  padding-bottom: 50px;
}

.service__title {
  @extend %title;
}

.service__list {
  // display: flex;
  // justify-content: center;
  // flex-wrap: wrap;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;

  @media screen and (max-width: 769px) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (max-width: 580px) {
    grid-template-columns: 1fr;
    // background-color: aqua;
  }
}

.service__item {
  // width: 366px;
  padding: 15px;
  border: 1px solid $accent-text;
  border-radius: 10px;
}

.service__pre-title {
  font-size: 17px;
  padding-top: 10px;
  color: $accent-text;
  text-transform: uppercase;
}

.service__description {
  color: white;
  margin-bottom: 20px;
}

.service__button {
  @extend %button;
  @extend %margin;
}
