.service {
  @extend %section-padding;
  background-color: $bg-color;
}

.service__title {
  @extend %title;
}

.service__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  gap: 30px;

  @media screen and (max-width: 769px) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (max-width: 580px) {
    grid-template-columns: 1fr;
  }
}

.service__item {
  display: grid;
  grid-template-rows: auto auto auto auto auto 1fr;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  border-radius: 10px;
  height: 100%;
  background-color: #454d71;
}

.service__pre-title {
  font-size: 17px;
  padding-top: 10px;
  color: $accent-text;
  text-transform: uppercase;
}

.service__description {
  color: $text-color;
  margin-bottom: 0;
}

.service__price {
  color: $text-color;
  margin-bottom: 0;
}

.service__price-1 {
  color: $text-color;
  margin-bottom: 0;
}

.service__price-2 {
  color: $accent-text;
  // margin-bottom: 20px;
}

.service__button {
  @extend %button;
  @extend %margin;
}

.service__button:hover,
.service__hover:focus {
  @extend %button__hover;
}
