/* .container {
  width: 1240px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
} */

:root {
  /* --bg-color: #c0c0c0; */
  /* --bg-color: #36454f; */
  --bg-color: #000022;
}

.header {
  /* background: #000022; */
  /* position: relative; */
  padding-top: 10px;
  padding-bottom: 10px;
  /* background-color: #36454f; */
  background-color: var(--bg-color);
  z-index: 1;
  padding-bottom: 30px;
}

.header-image-logo {
  border-radius: 50%;
  margin-left: 20px;
}

.header-text {
  margin: 0;
  color: wheat;
  margin-left: 20px;
}

.header-logo {
  font-size: 26px;
  color: wheat;
  margin-left: 20px;
  font-weight: 700;
}

.header-wrap {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.header-menu {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 20px;
}

.hero {
  /* position: relative; */
  /* background-color: #36454f; */
  background-color: var(--bg-color);
}

.hero-wrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 25px;
}

.hero-img {
  text-align: center;
  /* border-radius: 370px;
  border-top-right-radius: 365px;
  border-bottom-left-radius: 376px; */
  /* border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%; */
  border-radius: 49% 51% 55% 45% / 30% 27% 73% 70%;
}

/* .hero-img-2 {
  background-image: url('../image/2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 574px;
} */

.hero-content {
  border-radius: 12px;
  border: 1px solid wheat;
  backdrop-filter: blur(30px);
  /* background-color: chartreuse; */
  max-width: 300px;
  padding: 20px;
  /* position: absolute; */
  /* top: 380px; */

  /* transform: translate(-50%); */
  margin-bottom: 30px;
}

.hero-title-0 {
  margin: 0;
  text-align: center;
  color: wheat;
  font-size: 16px;
}

.hero-title {
  font-size: 13.5px;
  color: white;
  margin-top: 0;
}

.hero-btn {
  width: 100%;
  padding: 10px;
  background-color: wheat;
}
