%button {
  font-size: 15px;
  font-weight: 600;
  padding: 15px;
  background-color: $accent-text;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  color: $bg-color;
  border-radius: 6px;
  cursor: url('image/cursor/cursor-2.png'), auto;
  width: 100%;
  max-width: 287px;

  transition:
    box-shadow 250ms linear,
    translateY 250ms linear;

  @media screen and (max-width: 959px) {
    font-size: 14px;
  }

  @media screen and (max-width: 913px) {
    font-size: 13px;
  }

  @media screen and (max-width: 580px) {
    font-size: 14px;
  }
}

%title {
  text-align: center;
  font-size: 45px;
  text-transform: uppercase;
  color: $accent-text;
  margin-bottom: 60px;
  @media screen and (max-width: 580px) {
    text-transform: none;
    margin-bottom: 5px;
  }
}

%section-padding {
  padding-top: 50px;
  padding-bottom: 50px;
  @media screen and (max-width: 580px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

%margin {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}

%logo {
  color: #e4c9a2;
  align-items: center;
  font-size: 25px;
  // font-weight: 600;
  display: inline-flex;
}
